.container {
    width: 100%;
    max-width: 1206px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
}

.font-9 {
    font-size: 9px;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}


.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-900 {
    font-weight: 900;
}

.secondary-text {
    color: $color9;
}

.text-red {
    color: $color7 !important;
}

.text-fail {
    color: $color18 !important;

    &:before {
        background-color: $color18 !important;
    }
}

.text-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    box-shadow: 0px 4px 20px 0px #EEEEEECC;
    border: unset;
    border-radius: 20px;
}

.wp-15 {
    width: 15%;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w200 {
    width: 200px;
}

.radius-top0 {
    border-radius: 0 0 20px 20px;
}

.radius-bottom0 {
    border-radius: 20px 20px 0 0;
}


@media (min-width: 768px) {
    .text-md-nowrap {
        white-space: nowrap;
        /* Allows wrapping */
    }
}

.width100 {
    @media only screen and (min-width: 768px) {
        width: 100%;
    }
}


@media only screen and (min-width: 992px) {

    .navbar,
    main {
        margin-left: 220px;
    }
}

.menu-show {
    transition: transform 0.5s ease;

    .navbar-toggler {
        padding: 0;
        border: 0;

        span {
            position: relative;
            display: block;
            width: 25px;
            height: 2px;
            background-color: transparent;

            &::before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    .sidebar {
        opacity: 1;
        left: 0;
    }
}

.navbar-toggler {
    position: relative;
    padding: 0;
    border: 0;
    z-index: 11;

    &:focus {
        box-shadow: none;
    }

    span {
        position: relative;
        display: block;
        width: 25px;
        height: 2px;
        background-color: $color-black;
        transition: transform 0.5s ease;

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color-black;
        }

        &::before {
            transform: translateY(-8px);
        }

        &:after {
            transform: translateY(8px);
        }
    }
}

main {
    margin-top: 80px;

    @media only screen and (max-width: 767px) {
        margin-top: 195px;
    }
}

.multiselect {
    @media only screen and (max-width: 767px) {
        flex-wrap: wrap;
    }

    .chosen-choices {
        padding: 5px;
        border-radius: 8px;
        height: 200px;
        border: 1px solid #CCCCCC;
        background-image: unset;
        margin-bottom: 20px;
    }

    .chosen-container.chosen-container-multi {
        width: 100% !important;
        margin-right: 40px;

        @media only screen and (max-width: 767px) {
            margin-right: 0;
        }

        .chosen-search-input {
            width: 100% !important;
        }
    }
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 4px 20px 0px #EEEEEE80;

    @media only screen and (min-width: 992px) {
        width: calc(100% - 13.75rem);
    }

    &-trends {
        position: relative;
        background: #e7efff;
        padding: 10px 12px;
        // width: 240px;

        &:after {
            content: "";
            position: absolute;
            right: 0;
            width: 20px;
            height: 100%;
            background-color: $color-white;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
        }

        @media (min-width: 768px) and (max-width: 991px) {
            width: 200px;
        }

        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &-menu {
        .marquee {
            &.marqueeone {
                display: inline-block;
                animation: marquee 10s linear infinite;
            }

            &-item {
                color: $color13;
                font-weight: 500;

                .bordericon {
                    position: relative;

                    &:before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        right: -12px;
                        top: 0;
                        border: 0.3em solid transparent;
                    }

                    &.decreaseicon:before {
                        border-top: 0.4em solid #dc3545;
                    }

                    &.increaseicon:before {
                        border-bottom: 0.4em solid #198754;
                    }
                }
            }
        }

        .notify {
            border-left: 1px solid $color3;
            border-right: 1px solid $color3;
            padding: 4px 10px;
        }

        .user-login {
            &-detail {

                h6,
                span {
                    color: $color2;
                }
            }
        }
    }

    &-log {
        width: 100%;
        box-shadow: unset;

        @media only screen and (max-width: 767px) {
            background-color: #495a97;
        }

        .navbar-wrap {
            width: 100%;
            max-width: 1230px;
            padding: 0 15px;
            margin-right: auto;
            margin-left: auto;

            @media only screen and (min-width: 1440px) {
                max-width: 100%;
            }

            .navbar-brand {
                img {
                    @media only screen and (max-width: 767px) {
                        width: 150px;
                    }
                }
            }

            .navbar-toggler {
                &.collapsed {
                    span {
                        background-color: $color-white;
                    }
                }

                span {
                    background-color: transparent;
                    background-image: unset;

                    &:before,
                    &:after {
                        background-color: $color-white;
                    }
                }

            }

            .navbar-nav {
                @media only screen and (max-width: 767px) {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    background: #495a97;
                    padding: 20px 0 0;
                    height: 100vh;
                }

                .nav-link {
                    color: $color20;
                    font-weight: 500;
                    padding: 20px;

                    @media only screen and (max-width: 767px) {
                        padding: 15px 20px;
                    }

                    &:hover,
                    &.active {
                        color: #001d87;
                    }
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, #4F619E 0%, #374884 100%);
    border-right: 1px solid #0000001A;
    width: 13.75rem;
    transition: all linear 0.5s;

    // height: calc(100vh - 50px);
    @media only screen and (max-width: 991px) {
        left: -100%;
        opacity: 0;
        z-index: 10;
    }

    &-menu {
        overflow-y: auto;
        padding: 0 20px 20px;
        height: calc(100vh - 50px);

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color2;
        }
    }

    .bdr-bottom {
        padding-bottom: 22px;
        border-bottom: 1px solid $color3;
    }

    &-menu {
        &-list {
            text-transform: capitalize;

            &.dark-bg {
                background: #090B1336;
            }

            .menu-icon {
                width: 18px;
                height: 18px;
                object-fit: contain;
            }

            &-item {
                display: flex;
                align-items: center;
                color: $color10;
                font-size: 13px;
                font-weight: 500;
                border: 0;
                background-color: transparent;
                box-shadow: unset;
                margin: 8px 0;
                border-radius: 8px;
                box-shadow: none;
                padding: 12px 8px;

               

                .img2 {
                    display: none;
                }

                &:hover,
                &.active {
                    background-color: color(srgb 1 1 1 / 0.1);
                    color: $color-white;

                    .img1 {
                        display: none;
                    }

                    .img2 {
                        display: block;
                    }
                }

                &:last-child {
                    margin: 0;
                }

                

                &.collapsable {
                    &.active {
                        background-color: transparent;
                    }

                    &.active,
                    &:hover {
                        &:after {
                            color: $color-white;
                            transform: rotate(0deg);
                        }
                    }

                    &:after {
                        content: "\f106";
                        color: $color10;
                        font-family: FontAwesome;
                        background-image: unset;
                        margin-left: auto;
                        transform: rotate(180deg);
                    }

                }
            }

            &-sub {
                padding-left: 1rem;
                margin-bottom: 0;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: 0;
                    width: 2px;
                    height: 84%;
                    background-color: $color-white;
                }

                li {
                    position: relative;
                    margin-bottom: 6px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: -16px;
                        width: 14px;
                        height: 2px;
                        border: 10px solid transparent;
                        border-left: 3px solid $color-white;
                        border-bottom: 3px solid $color-white;
                        border-radius: 25px 25px 0px 25px;
                    }

                    a {
                        display: block;
                        color: $color10;
                        font-size: 11px;
                        font-weight: 500;
                        padding: 8px 12px;
                        border-radius: 8px;

                        &.active,
                        &:hover {
                            color: $color-white;
                        }

                        &.active {
                            background-color: color(srgb 1 1 1 / 0.1);
                        }

                        &:hover {
                            background: #090B131A;
                        }
                    }
                }
            }

            &-users {
                height: 120px;
                overflow-y: auto;
                overflow-x: hidden;
                padding-right: 4px;

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                    background-color: #F5F5F5;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $color2;
                }

                label {
                    color: $color10;
                }

                .users {
                    .img2 {
                        display: none;
                    }

                    &:hover {
                        label {
                            color: $color-white;
                        }

                        .img1 {
                            display: none;
                        }

                        .img2 {
                            display: block;
                        }

                        .form-check-input {
                            &[type=radio] {
                                background: $color11;
                            }

                        }
                    }

                    .form-check-input {
                        position: relative;

                        &[type=radio] {
                            border: 2px solid $color-white;
                            background: #A0A9CB8A;
                        }

                        &:checked[type=radio] {
                            border: 3px solid $color-white;
                            background-color: transparent;
                            box-shadow: none;

                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 8px;
                                width: 8px;
                                background: $color11;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}


.highcharts-figure {
    &.guagegraph {
        div[data-highcharts-chart] {
            height: 160px !important;
            width: 210px;
        }
    }

    svg.highcharts-root {
        font-family: "Poppins", system-ui !important;
        font-size: 13px !important;
        // height: 100% !important;
    }
}




table {
    font-size: 14px;
    font-weight: 400;

    .table {
        thead {
            border-bottom: 2px solid #E4E2E4;

            tr {
                border-bottom: 1px solid #E4E2E4;

                th {
                    color: $color8;
                    font-weight: 500;
                }
            }

        }

        th,
        td {
            padding: 15px;
            vertical-align: middle;
            border-bottom: 1px solid #E4E2E4
        }

        td {
            color: $color14;
        }

        &.stripe.dataTable {
            tr {
                &:nth-of-type(even) {
                    background-color: #F9F9FB;
                }
            }
        }
    }

    &.table>:not(:first-child),
    div.dt-scroll-body {
        border: 0;
    }

}


.dropdown {
    &-toggle {
        &:after {
            content: "\f107";
            color: $color8;
            font-family: FontAwesome;
            border: unset;
        }
    }

    &-menu {
        font-size: 13px;
        background: linear-gradient(180deg, #4F619E 0%, #374884 100%);
        border: unset;
        .dropdown-item {
            color: $color-white;

            &:hover {
                background-color: color(srgb 1 1 1 / 0.1);
            }
        }
    }
}


.pagination {
    font-size: 14px;

    .dt-paging-button.page-item {
        margin-right: 10px;
        border-radius: 4px;
        margin-bottom: 10px;

        .page-link {
            color: $color8;
            border-radius: 4px;
        }
    }

    .page-item {

        &.active,
        &:hover {
            .page-link {
                color: $color-white;
                background: linear-gradient(180deg, #4F619E 0%, #374884 100%);
                border: 1px solid $color-white;
            }
        }
    }
}


.form-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 25px;

        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 3px;
            bottom: 3px;
            background-color: #fff;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input:checked+.slider {
        background-color: $color16;
        /* Green when ON */
    }

    input:checked+.slider:before {
        transform: translateX(24px);
    }
}



.toast {
    &.cst-toast {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
        background: $color8;

        &-body {
            width: 250px;
        }

        .btn-close {
            color: #69E3F1;
            background: unset;
            box-shadow: none;
            filter: none;
            opacity: 1;
        }
    }
}


.custom-select {
    position: relative;
    width: 170px;
    display: inline-block;
    img {
        width: 25px;
    }
    .label {
        position: absolute;
        background: #F8FAFE;
        top: -11px;
        left: 14px;
        z-index: 1;
        padding: 2px;
    }
    .css-b62m3t-container {
        color: #1D1B20;
        font-size: 14px;
        position: relative;
        // padding: 6px 15px;
        border: 2px solid #4D5F9C;
        border-radius: 8px;
        cursor: pointer;
        background: none;
        .css-t3ipsp-control {
            &:hover {
                border: unset !important;
                box-shadow: none;
            }
        }
        .css-1wy0on6 {
               &:after {
                color: $color-black;
                display: inline-block;
                margin-left: auto;
                vertical-align: middle;
                content: "";
                border-top: .3em solid;
                border-right: .3em solid transparent;
                border-bottom: 0;
                border-left: .3em solid transparent;
               }
        }
       
    }
    .css-1wy0on6 {
        padding: 5px;
        .css-1u9des2-indicatorSeparator {
            display: none;
        }
        svg {
            display: none;
        }
        .css-1xc3v61-indicatorContainer {
            padding: 0;
        }
    }
}



// .custom-select {
//     position: relative;
//     display: inline-block;
//     width: 170px;

//     .label {
//         position: absolute;
//         background: #F8FAFE;
//         top: -11px;
//         left: 14px;
//         z-index: 1;
//         padding: 2px;
//     }


//     &-trigger {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         color: $color2;
//         font-size: 12px;
//         padding: 10px 15px;
//         background-color: $color-white;
//         cursor: pointer;
//         border-radius: 50px;
//     }

//     .custom-options {
//         display: none;
//         position: absolute;
//         background-color: $color-white;
//         box-shadow: 0px 0px 9.9px 0px #75757533;
//         border-radius: 5px;
//         width: 100%;
//         overflow-y: auto;
//         z-index: 2;
//     }

//     // .custom-option {
//     //     display: flex;
//     //     align-items: center;
//     //     // padding: 10px;
//     //     cursor: pointer;
//     // }

//     &.show .custom-options {
//         display: block;
//     }

//     .optimg {
//         width: 19px;
//     }

//     &.cst-select {
//         .label {
//             position: absolute;
//             background: #F8FAFE;
//             top: -11px;
//             left: 14px;
//             z-index: 1;
//             padding: 2px;
//         }

//         .cst-select-wrap {
//             color: $color17;
//             font-size: 14px;
//             position: relative;
//             // width: 170px;
//             padding: 6px 15px;
//             border: 2px solid #4D5F9C;
//             border-radius: 8px;
//             cursor: pointer;
//             background: none;

//             .selectedTxt {
//                 &:after {
//                     display: inline-block;
//                     margin-left: auto;
//                     vertical-align: middle;
//                     content: "";
//                     border-top: .3em solid;
//                     border-right: .3em solid transparent;
//                     border-bottom: 0;
//                     border-left: .3em solid transparent;
//                 }

//                 &.rotate {
//                     &:after {
//                         transform: rotate(180deg);
//                     }
//                 }
//             }
//         }
//     }

//     &.cst-date {
//         .selectedTxt {
//             img {
//                 display: none;
//             }
//         }

//         .custom-option {
//             &.active {
//                 img {
//                     visibility: visible;
//                 }
//             }

//             img {
//                 visibility: hidden;
//             }
//         }
//     }
// }




.cst-form {
    label {
        color: $color8;
        font-weight: 500;
        font-size: 14px;
    }

    input {
        border: 1px solid #A0A9CB;
        border-radius: 8px;
        padding: 11px 10px;

        &::-moz-placeholder {
            color: $color10;
            font-size: 14px;
        }

        &::placeholder {
            color: $color10;
            font-size: 14px;
        }

        &.success {
            border: 1px solid #10D824;
        }

        &.fail {
            border: 1px solid #FF0000;
        }
    }

    &-pass {
        cursor: pointer;
        margin-left: -48px;
    }

    &-errors {
        padding-left: 15px;
        font-size: 12px;

        p {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: -12px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 6px;
                height: 6px;
                background-color: $color2;
                border-radius: 100%;
            }
        }
    }

    .primarybtn {
        border-radius: 8px;
        padding: 12px 20px;
    }
}


.passwordToast {
    color: $color-black;
    font-size: 14px;
    background: #10D8240F;
    border: 1px solid #10D824
}


.datepicker {
    &-wrap {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-size: 12px;
        background-color: $color-white;
        border-radius: 8px;
        padding: 11px 12px;
    }
}


.footerlog {
    color: $color8;

    &-lists {
        li {
            a {
                position: relative;
                color: $color8;
                padding: 0 10px;

                &.active,
                &:hover {
                    color: $color19;
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-right: 1.5px solid $color20;
                }
            }

            &:last-child a {
                &:after {
                    display: none;
                }
            }
        }
    }
}


.disc {
    li {
        list-style: disc;
    }
}

.lh-16 {
    line-height: 1.6;
}



.datepicker {
   .rs-picker-input-group.rs-input-group.rs-input-group-inside {
    padding: 4px 0;
   }
}

.table-responsive {
    .cst-table {
        &>:not(caption)>*>* {
            padding: 0;
        }
        .rs-table-cell-header {
            .rs-table-cell-content {
                color: $color8;
                font-weight: 500;
            }
        }
        
        .rs-table-cell-content {
            color: $color14;
            font-size: 14px;
        }
        
        
        .rs-table-cell-header .rs-table-cell-content {
            padding: 0 10px;
        }
        
        .table>:not(caption)>*>* {
            padding: 0;
        }
        
        
        .rs-table-row.rs-table-row-header {
            border-bottom: 2px solid #E4E2E4 !important;
        }
           
    }
    .rs-dt-search {
        margin-left: auto;
        outline: none !important;
        @media only screen and (min-width: 768px) {
            width: 25%;
        }
    }
}



.no-caret::after {
    display: none;
}


// .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
//     color: unset;
//     background-color: unset;
//     border-color: unset;
//     text-decoration: unset;
// }


.rs-table-cell {
    overflow: visible !important;
    height: auto !important;
  }


  .rsuite-dropdown-container {
    overflow: visible !important;
    height: auto !important;
    position: relative; /* To ensure dropdown positions correctly */
  }

  .select__value-container.select__value-container--is-multi{
    align-items: start;
    width: 60vw;
    height: 140px;
  }

  .select__indicators.css-1wy0on6 {
    align-items: start;
  }


  @media only screen and (max-width: 475px) {
    .select__value-container.select__value-container--is-multi{
        width: 100%;
        height: 100%;
      }
  }