$color-white: #fff;
$color-black: #000;
$color1: #F7F7F7;
$color2: #757575;
$color3: #849AA9;
$color4: #FFAB00;
$color5: #1EA364;
$color6: #2323230D;
$color7: #D55F5A;
$color8: #232323;
$color9: #FFE055;
$color10: #A0A9CB;
$color11: #10D824;
$color12: #F5F5F5;
$color13: #101010;
$color14: #5A5D6C;
$color15: #374884;
$color16: #4CAF50;
$color17: #1D1B20;
$color18: #FF0000;
$color19: #4F619E;
$color20: #878A99;





















